.App {
  text-align: center;
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: #eaeaea;
  padding: 20px;
  color: white;
  opacity: .85;
}

.App-title {
  font-size: 2em;
  color: #000000;
  font-weight: bold;
}

.App-title h2 {
  color: #0FBBEC;
}

.App-intro {
  align-items: center;
  align-content: center !important;
  font-size: large;
  margin-top: 100px;
}

#light {
  color: #0FBBEC;
}

login-button hover{
  background-color: "#FFBE2B";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
